.user-top {
    background-color: white;
    margin: 10px 0 10px 0;
    width: 100%;
    padding: 30px;
    border-radius: 20px;
}
.user-top .user-status-image {
    width: 220px;
    height: 220px;
    background-position: center;
    background-size: cover;
    border-radius: 110px;
}
.user-top .select-status {
    margin: 30px 50px 30px 50px;
    width: calc(100% - 100px);
}

.user-bottom {
    margin: 10px 0 10px 0;
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    border: 3px solid white;
}
.user-bottom .icon-clock {
    width: 35px;
    height: 35px;
    background-position: center;
    background-image: url('/images/icon-clock-white.png');
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin: 10px;
}

.user-bottom .icon-location {
    width: 35px;
    height: 35px;
    background-position: center;
    background-image: url('/images/icon-location-white.png');
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin: 10px;
}